@model bool

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Accouning solution</h1>
      <p class="lead text-muted">Create, manage your accounts here</p>
      <p>
            <a asp-action="Create"  class="btn btn-primary my-2">Create new account</a>
            @if (Model)
            {
                <a asp-action="Transfer" class="btn btn-primary my-2">Transfer</a>
            }
      </p>
    </div>
  </div>
</section>
