@model WebApplication4.Models.AccountViewModel


<div class="container">
    <div class="row">
        <form method="post" asp-action="PerformAcquire">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CurrencyCharCode" />
            <input type="hidden" asp-for="Amount" />
            <input type="hidden" asp-for="RowVersion" />
            <fieldset>
                <legend>Acquire money:</legend>
                <div class="mb-3">
                    <label for="id-input" class="form-label">Account Id:</label>
                    <input disabled type="text" value="@Model.Id" id="id-input" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="amount-input" class="form-label">Current amount:</label>
                    <input disabled type="text" value="@Model.Amount" id="amount-input" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="input-amount-input" class="form-label">Input amount to acquire:</label>
                    <input asp-for="InputAmount" type="text" value="@Model.InputAmount" id="input-amount-input" class="form-control" placeholder="Amount">
                    <span asp-validation-for="InputAmount" class="text-danger"></span>
                </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
