@model AccountViewModel[];

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Accouning solution</h1>
      <p class="lead text-muted">Create, manage your accounts here</p>
      <p>
          <a asp-action="Create"  class="btn btn-primary my-2">Create new account</a>
            @if (Model.Length > 1)
            {
                <a asp-action="Transfer" class="btn btn-primary my-2">Transfer</a>
            }
      </p>
    </div>
  </div>
</section>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      @foreach (var account in Model)
      {
          <div class="card">
              <h5 class="card-header">Account (@account.Id) </h5>
              <div class="card-body">
                  <h5 class="card-title">@account.Amount.ToString("F3")</h5>
                  <p class="card-text">@account.CurrencyName</p>
                  <a class="btn btn-primary">Acquire</a>
                  <a class="btn btn-primary">Withdraw</a>
              </div>
          </div>
      }
  </div>
</div>
