@model TransferViewModel

<div class="container">
    <div class="row">
        <form method="post" asp-action="PerformTransfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>Create new account:</legend>

                <div class="mb-3">
                    <label for="from-account" class="form-label">From account:</label>
                    <select id="from-account" class="form-control" asp-for="From" asp-items="@Model.Accounts">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="to-account" class="form-label">Currency:</label>
                    <select id="to-account" class="form-control" asp-for="To" asp-items="@Model.Accounts">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="To" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="currency-char-code" class="form-label">Currency:</label>
                    <select id="currency-char-code" class="form-control" asp-for="CurrencyCharCode" asp-items="@Model.AvailableCharCodes">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="CurrencyCharCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="amount-input" class="form-label">Amount</label>
                    <input asp-for="Amount" type="text" value="@Model.Amount" id="amount-input" class="form-control" placeholder="Amount">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
