@model Core.Users.UserViewModel

<div class="container">
    <div class="row">
        <form method="post" asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <fieldset>
                <legend>User details</legend>
                <div class="mb-3">
                    <label for="email-input" class="form-label">Email</label>
                    <input asp-for="Email" type="text" value="@Model.Email" id="email-input" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="age-input" class="form-label">Age</label>
                    <input asp-for="Age" type="text" value="@Model.Age" id="age-input" class="form-control" placeholder="Age">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
               <div class="mb-3">
                   <label for="age-input" class="form-label">Photo</label>
                   <input type="file" asp-for="Photo" class="form-control">
               </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
