@model DataAccess.Entities.ApplicationUser;

<div class="container">
  <div class="row">
    <form>
      <fieldset disabled>
        <legend>User details</legend>
        <div class="mb-3">
          <label for="UserName-input" class="form-label">Name</label>
          <input type="text" value="@Model.UserName" id="UserName-input" class="form-control" placeholder="Name">
        </div>
        <div class="mb-3">
          <label for="Email-input" class="form-label">Name</label>
          <input type="text" value="@Model.Email" id="Email-input" class="form-control" placeholder="Email">
        </div>
        <div class="mb-3">
          <label for="PhoneNumber-input" class="form-label">Name</label>
          <input type="text" value="@Model.PhoneNumber" id="PhoneNumberinput" class="form-control" placeholder="PhoneNumber">
        </div>
        <div class="mb-3">
          <label id="Age-input" class="form-label">Age</label>
          <input type="text" value="@Model.Age" id="Age-input" class="form-control" placeholder="Age">
        </div>
      </fieldset>
      <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
  </div>
</div>
