@model WebApplication4.Models.UserAccount.RegisterUserViewModel

<h2>Register new user</h2>

<div class="container">
    <div class="row">
        <form method="post" asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <div class="mb-3">
                    <label for="Email-input" class="form-label">Email</label>
                    <input asp-for="Email" type="email" id="Email-input" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Age-input" class="form-label">Age</label>
                    <input asp-for="Age" type="number" id="Age-input" class="form-control" placeholder="Age">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Password-input" class="form-label">Password</label>
                    <input asp-for="Password" type="password" id="Password-input" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="PasswordConfirm-input" class="form-label">Confirm password</label>
                    <input asp-for="PasswordConfirm" type="password" id="PasswordConfirm-input" class="form-control" placeholder="Confirm Password">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-controller="Users" asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>