@model WebApplication4.Models.RegisterViewModel

<div class="container">
    <div class="row">
        <form method="post" asp-action="Register">
            <input type="hidden" asp-for="Age" id="ageInputValue"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>Register:</legend>
                <div class="mb-3">
                    <label for="email-input" class="form-label">Email:</label>
                    <input asp-for="Email" type="text" id="email-input" class="form-control" placeholder="Name">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Password:</label>
                    <input asp-for="Password" type="password" id="password-input" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="password-confirm-input" class="form-label">Confirm Password:</label>
                    <input asp-for="PasswordConfirm" type="password" id="password-confirm-input" class="form-control" placeholder="Confirm password">
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="age-input" class="form-label" >Age</label>
                    <input type="text" id="age-input" class="form-control" placeholder="Age" data-url="/UserAccount/AutoCompleteAge">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="city-input" class="form-label">City</label>
                    <input type="text" id="city-input" class="form-control" placeholder="City" data-url="/UserAccount/AutoCompleteCity">
                </div>
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        window.autocomplete.init("#age-input", "#ageInputValue");
        window.autocomplete.init("#city-input");
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}